@import "base";

.v-toolbar {
  .v-toolbar__title {
    padding-right: 154px;
  }
  .v-input__slot {
    margin-bottom: 0;
  }
}

.theme--dark.v-navigation-drawer.v-navigation-drawer--mini-variant {
  background-color: #202225;

  .v-list .v-list__tile {
    height: 60px;

    .v-list__tile__avatar {
      .v-avatar {
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        -ms-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        transition: background-color 0.3s;
      }
      &:hover .v-avatar {
        background-color: #7289da !important;
      }
    }
  }

  .primary--text .v-list__tile__avatar .v-avatar {
    background-color: #7289da !important;
    border-color: #7289da !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
  }
}

.theme--dark.v-list .v-list__group__header:hover, .theme--dark.v-list .v-list__tile--highlighted, .theme--dark.v-list .v-list__tile--link:hover {
  background: inherit !important;
}