@import "base";

html {
  overflow: hidden !important;
}

#app-mount {
  -ms-overflow-style: none; // IE에서 스크롤바 감춤
  &::-webkit-scrollbar {
    display: none !important; // 윈도우 크롬 등
  }
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  background-color: #202225;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100vw;
}

.application--wrap > .v-content {
  flex: 1 1 auto;

  .theme--light.v-navigation-drawer {
    z-index: 1;

    .v-list {
      margin-top:20px;

      .v-list__tile--avatar {
        margin: 2px 10px;
        height: 35px;

        .v-list__tile__avatar {
          min-width: 35px;
        }
      }

      .v-list__tile--active {
        background-color: rgba($brand-primary,0.4);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }

    }
  }
}

.v-toolbar {
  .v-toolbar__title {
    padding-right: 130px;
  }
  .v-input__slot {
    margin-bottom: 0;
  }
}

.theme--dark.v-navigation-drawer.v-navigation-drawer--mini-variant {
  background-color: #202225;

  .v-list .v-list__tile {
    height: 60px;

    .v-list__tile__avatar {
      .v-avatar {
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        -ms-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        transition: background-color 0.3s;
      }
      &:hover .v-avatar {
        background-color: #7289da !important;
      }
    }
  }

  .primary--text .v-list__tile__avatar .v-avatar {
    background-color: #7289da !important;
    border-color: #7289da !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
  }
}

.theme--dark.v-list .v-list__group__header:hover, .theme--dark.v-list .v-list__tile--highlighted, .theme--dark.v-list .v-list__tile--link:hover {
  background: inherit !important;
}